body, td {
    margin: 0px;
    padding: 0px;
    font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Verdana, Tahoma, sans-serif;
    font-size: 14px;
    color: #354A57;
    vertical-align: top;
}

.welcome_msg {
	width:500px;
	font-size: 17px;
	text-align:center;
}

a:link, a:visited {
    color: #445D6B;
}

body, .left_column {
    background-color: #FCF9EF;
}

p {
    padding-left: 20px;
}

.header_title, .header_title:link, .header_title:visited {
    color: #354A57;
    font-size: 52px;
    text-decoration: none;
    font-family: "Squada One", "Courier New", Courier, monospace;

}
.big_title {
    color: #254456;
    font-size: 40px;
    text-decoration: none;
    font-family: "Squada One", "Courier New", Courier, monospace;
}
.title {
    color: #FFF;
    font-weight: bold;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #707A7F;
    display: block;
    padding: 5px;

    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.download_button:link, .download_button:visited {
    color: #33342D;
    background-color: #89969E;
    font-weight: bold;
    padding: 6px 12px;

    text-decoration: none;

    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;

    border: solid 1px #33342D;
}

.download_button:hover {
    background-color: #BCCED8;
}

.menu, .menu:link, .menu:visited {
    color: #27353D;
    font-weight: bold;
    text-decoration: none;
    font-family: Helvetica, Arial, sans-serif;
}

.container {
    margin: 0 auto;
}

.left_column {
    text-align: right;
    position: fixed;
    top: 0px;
    left: 0px;
    width: 240px;
    float: left;
    padding: 20px;
    margin-right: 10px;
    display: block;
    overflow: hidden;
    height: 100%;
}

.right_column {
    margin-top: 15px;
    margin-right: 20px;
    margin-left: 280px;
}

.main_content {
    margin-top: -10px;
    margin-bottom: 20px;
    padding: 20px;
    background-color: #D3D6D0;
    border: 2px solid #354A57;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}

ul {
    list-style-type: square;
}

.bug_title {
    text-align: left;
    font-size: 13px;
    color: #27353D;
}

.bug_desc, .bug_desc li {
    padding-left: 0px;
    font-size: 12px;
}

.bug_desc {
    border-top: 2px solid #27353D;
    padding-top: 5px;
    padding-bottom: 10px;
}

code {
    font-size: 11px;
    font-family: "Courier New", Courier, monospace;
}

pre {
    background-color: #EAE4D3;
    border: 1px solid #333;
    border-left: 8px solid #333;
    padding: 2px;
    color: #354A57;

    margin: 0px;
    padding: 4px;
    width: 540px;
    overflow: auto;

    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}