<div class="container">
    <div class="jumbotron jumbotron-ad hidden-print">

        <h1><i class="fa fa-download"></i>&nbsp; Download</h1>

    </div>
</div>

<div class="container">

    <h2 class="page-header">Download links</h2>


<p>
    The official releases are pushed to <a href="$mavenCentralSearch">Maven Central repository</a>.
    The manual download of the jar is only needed for integration with Ant and the IDEs.
</p>

    <div class="actions">
        <a class="btn btn-primary btn-lg" href="$downloadUrl">
            <i class="fa fa-download"></i>&nbsp;&nbsp;
            Get the plugin v $latestVersion
        </a>

        <a class="btn btn-secondary btn-lg" href="https://spotbugs.github.io/">
            <i class="fa fa-download"></i>&nbsp;&nbsp;
            Get SpotBugs
        </a>

        <a class="btn btn-secondary btn-lg" href="$mavenCentralSearch">
            <i class="fa fa-search"></i>&nbsp;&nbsp;
            Browse all the releases
        </a>
    </div>
</p>
<p>
    Not sure how to integrate the plugin? Check the <a href="tutorials.htm">Tutorial section</a>.
</p>

</div>
