<div class="container">
    <div class="jumbotron jumbotron-ad hidden-print">
        <div class="row">
            <div class="col-md-8 col-sm-8 text-center">

                <h1>{<i class="fa fa-bug"></i>}&nbsp; Find Security Bugs</h1>

                <p>The SpotBugs plugin for security audits of Java web applications.</p>

                <div class="actions">
                    <a class="btn btn-primary btn-lg" href="download.htm">
                        <i class="fa fa-download"></i>&nbsp;&nbsp;
                        Download version $latestVersion
                    </a>
                    &nbsp;&nbsp;
                    <a class="btn btn-secondary btn-lg" href="$releaseNotesUrl">
                        <i class="fa fa-bullhorn"></i>&nbsp;&nbsp;
                        View release notes
                    </a>
                </div>
                (Last updated: $latestUpdateDate)
            </div>
            <div class="col-md-4 col-sm-4">

                <div class="social-links">
                    <ul style="list-style-type: none;">
                        <li>
                            Spread the word:<br/>
                            <a class='twitter-share-button' data-url='http://find-sec-bugs.github.io/'
                               data-via='h3xstream' href='https://twitter.com/share'>Tweet</a><br/>

                            <div class='fb-like' data-font='lucida grande'
                                 data-href='http://find-sec-bugs.github.io/'
                                 data-layout='button_count' data-send='false' data-show-faces='false' data-width='100'
                                 style='line-height:1.0;display:inline'></div>

                        </li>
                        <li><br/><br/></li>
                        <li>
                            Follow the project:<br/>
                            <iframe class="github-btn"
                                    src="//ghbtns.com/github-btn.html?user=find-sec-bugs&repo=find-sec-bugs&type=watch&count=true"
                                    allowtransparency="true" frameborder="0" scrolling="0" width="100px"
                                    height="20px"></iframe>
                            <br/>
                            <iframe class="github-btn"
                                    src="//ghbtns.com/github-btn.html?user=find-sec-bugs&repo=find-sec-bugs&type=fork&count=true"
                                    allowtransparency="true" frameborder="0" scrolling="0" width="102px"
                                    height="20px"></iframe>
                            <br/>
                            <i class="fa fa-github"></i> <a target="_blank" href="https://github.com/find-sec-bugs/find-sec-bugs/">Visit the GitHub project</a>

                        </li>
                    </ul>
                </div>
            </div> <!-- cols -->
        </div> <!-- row -->
    </div> <!-- jumbotron -->
</div> <!-- container -->


<section id="features" class="feature-list">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Features</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <h4><i class="fa fa-crosshairs"></i> $nbPatterns bug patterns</h4>
                <p>It can detect <a href="bugs.htm">$nbPatterns different vulnerability types</a> with over $nbSignatures unique API signatures.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4><i class="fa fa-code"></i> Support your frameworks and libraries</h4>
                <p>Cover popular frameworks including Spring-MVC, Struts, Tapestry and many more.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4><i class="fa fa-plug"></i> Integrate with your IDE</h4>
                <p>Plugins are available for <a target="_blank" href="http://findbugs.sourceforge.net/manual/eclipse.html">Eclipse</a>,
                <a target="_blank" href="https://plugins.jetbrains.com/plugin/3847?pr=idea">IntelliJ</a>,
                <a href="https://plugins.jetbrains.com/plugin/3847?pr=idea">Android Studio</a> and
                <a target="_blank" href="https://netbeans.org/kb/docs/java/code-inspect.html#fb">NetBeans</a>.
                Command line integration is available with <a href="http://findbugs.sourceforge.net/manual/anttask.html">Ant</a>
                and <a href="https://github.com/spotbugs/spotbugs-maven-plugin">Maven</a>.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4><i class="fa fa-cogs"></i> Continuous integration</h4>
                <p>Can be used with systems such as <a target="_blank" href="https://plugins.jenkins.io/findbugs">Jenkins</a> and
                <a target="_blank" href="https://github.com/spotbugs/sonar-findbugs">SonarQube</a>.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4><i class="fa fa-check"></i> OWASP TOP 10 and CWE coverage</h4>
                <p>Extensive references are given for each bug patterns with references to OWASP Top 10 and CWE.</p>
            </div>
            <div class="col-md-4 col-sm-6">
                <h4><i class="fa fa-github"></i> Open for contributions</h4>
                <p>The project is open-source and is <a target="_blank" href="https://github.com/find-sec-bugs/find-sec-bugs/graphs/contributors">open for contributions</a>.</p>
            </div>
        </div>
    </div>
</section>


<section id="portfolio" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">Screenshots</h2>
            </div>
        </div>
        <div class="row">
            <%
            screenshots.eachWithIndex {s,idx->
            print """
            <div class="col-md-4 col-sm-2 portfolio-item">
                <a href="#screenshot${idx}" class="portfolio-link" data-toggle="modal">
                    <div class="portfolio-hover">
                        <div class="portfolio-hover-content">
                            <i class="fa fa-search-plus fa-3x"></i>
                        </div>
                    </div>
                    <img src="${s.path}" class="img-responsive img-fluid" alt="Find Security Bugs ${s.title}">
                </a>
                <div class="portfolio-caption">
                    <h4>${s.title}</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
            """}
            %>
        </div>
    </div>
</section>


<%
screenshots.eachWithIndex {s,idx->
print """
<!-- Modal -->
<div class="modal fade" id="screenshot${idx}" tabindex="-1" role="dialog" aria-labelledby="screenshotLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h2 class="modal-title" id="screenshotLabel${idx}">${s.title}</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p class="item-intro text-muted">${s.description}</p>
                <img class="img-responsive img-fluid" src="${s.path}" alt="">
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
"""
}
%>
