<div class="container">
    <div class="jumbotron jumbotron-ad hidden-print">

        <h1><i class="fa fa-graduation-cap"></i>&nbsp; Knowledge base</h1>

        You are new to web application security? Here are few resources for getting started.<br/>
        <i class="fa fa-warning"></i> Remember that learning computer security is a journey. Don't expect to be an expert within a year! ;)
    </div>
</div>

<div class="container">

    <section id="websites">
        <h2 class="page-header">Websites</h2>
        <p>
            The following resources are excellent to learn about the various types of vulnerabilities.
            Find Security Bugs will often reference those websites.
        </p>
        <ul>
            <li>
                <a href="http://owasptop10.googlecode.com/files/OWASP%20Top%2010%20-%202013.pdf">OWASP Top 10 (2013 Edition)</a><br/>
                The OWASP Top 10 is the list of 10 high level categories of vulnerabilities.
            </li>
            <li>
                <a href="http://projects.webappsec.org/w/page/13246978/Threat%20Classification">WASC : Threat classification</a><br/>
                A great list of specific vulnerability types. Some vulnerabilities are not associated to high-level programming language such as Java (see Buffer Overflow and Format String).
            </li>
            <li>
                <a href="https://www.owasp.org/index.php/OWASP_Java_Table_of_Contents">OWASP Java Project</a><br/>
                Although the wiki is not mature, you will possibly find information on more specialized topics.
            </li>
            <li>
                <a href="https://cwe.mitre.org/data/graphs/888.html">Common Weakness Enumeration</a><br/>
                Detailed database of vulnerability types.
            </li>
            <li>
                <a href="https://www.google.com">Google</a>/<a href="https://www.bing.com">Bing</a><br/>
                Don't limit yourself to general knowledge bases. If you are looking for specific information, you will find
                valuable research papers, blog posts and articles online.
            </li>
        </ul>
    </section>

    <section id="books">
        <h2 class="page-header">Books</h2>

        <p>
            <a href="#">
            <img class="book-preview" border="0" src="https://images-na.ssl-images-amazon.com/images/I/51PGm-zmqKL._SL160_.jpg" >

            The Web Application Hacker's Handbook: Finding and Exploiting Security Flaws</a>
            <br/><br/>
            This book is all about black-box testing and gaining the attacker reflexes. It describes the different
            vulnerabilities that can be found in web applications. The book is well structured.
            The technical details can be useful for beginner and intermediate developer/hacker.
            It is almost flawless. You will probably be disappointed by the code review chapter if you are a well-rounded developer.<br/>
        </p>
        <div style="clear:both">&nbsp;</div>
        <p>
            <a href="#">
            <img class="book-preview" border="0" src="https://images-na.ssl-images-amazon.com/images/I/51lJcsg9-zL._SL160_.jpg" >

            Iron-Clad Java: Building Secure Web Applications</a>
            <br/><br/>
            The particularity of this book is that it isn't technology agnostic. That's not a fault. This means that it focuses
            on Java applications. The guidelines are therefore more specialized.
        </p>
        <div style="clear:both">&nbsp;</div>
        <p>
            <a href="#">
            <img class="book-preview" border="0" src="https://images-na.ssl-images-amazon.com/images/I/619raTTMqYL._SL160_.jpg" >

            Beginning Cryptography with Java</a>
            <br/><br/>
            If you are looking for a cryptography reference, this book focus only on this topic. The content of the book is slightly dated.
            It doesn't cover some modern attack scenarios. This book can still be useful if you want to quickly master the Java Cryptography API.
        </p>
        <div style="clear:both">&nbsp;</div>
    </section>
</div>
