<div class="container">
    <div class="jumbotron jumbotron-ad hidden-print">

        <h1><i class="fa fa-graduation-cap"></i>&nbsp; Tutorials</h1>

    </div>
</div>

<div class="container">
    <section id="integration">
        <h2 class="page-header">Integration</h2>

        <p>
            The plugin can be integrated with various development tools.
            It can be used within <a target="_blank" href="http://findbugs.cs.umd.edu/eclipse/">Eclipse</a>,
            <a target="_blank" href="http://code.google.com/p/findbugs/wiki/IntellijFindBugsPlugins">IntelliJ</a> and
            <a target="_blank" href="http://kenai.com/projects/sqe/pages/Home">Netbeans</a> with their respective FindBugs plugin.
        </p>

        <p>
            It can also be used in continuous integration such as <a target="_blank"
                href="https://wiki.jenkins-ci.org/display/JENKINS/FindBugs+Plugin">Jenkins</a>
            and <a target="_blank" href="http://www.sonarsource.org/">Sonar</a>.
        </p>
    </section>

    <section id="tutorials">
        <h2 class="page-header">Tutorials list</h2>

        <p>
            <a target="_blank" href="https://github.com/find-sec-bugs/find-sec-bugs/wiki/Maven-configuration">Maven configuration</a><br/>
            <a target="_blank" href="https://github.com/find-sec-bugs/find-sec-bugs/wiki/IntelliJ-Tutorial">IntelliJ Tutorial</a><br/>
            <a target="_blank" href="https://github.com/find-sec-bugs/find-sec-bugs/wiki/Eclipse-Tutorial">Eclipse Tutorial</a><br/>
            <a target="_blank" href="https://github.com/find-sec-bugs/find-sec-bugs/wiki/NetBeans-Tutorial">NetBeans Tutorial</a><br/>
            <a target="_blank" href="https://github.com/find-sec-bugs/find-sec-bugs/wiki/Jenkins-Tutorial">Jenkins Tutorial</a><br/>
            <a target="_blank" href="https://github.com/find-sec-bugs/find-sec-bugs/wiki/Sonar-Qube-Tutorial">Sonar Qube Tutorial</a><br/>

            <br/>
            [<a target="_blank" href="https://github.com/find-sec-bugs/find-sec-bugs/wiki/_pages">Complete list of Wiki Pages</a>]
        </p>
    </section>
</div>
